<div>
    <div style="float: right;">
        <div style="float: right;">
            <a href="{% url 'upload' %}"><small>Upload-Files</small></a>
        </div><br>
    </div>
    <h1>Music Portal</h1>
    </div>
    <hr>
    
    <div class="container">
    
        {% if request.user.is_authenticated %}
        <div style="float: right;">
        <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div>
            <a href="{% url 'register' %}">Register</a>
        </div>
    
        <div>
            <a href="{% url 'login' %}">Login</a>
        </div>
    
       
        {% endif %}
    </div>
    
    
    {% if request.user.is_authenticated %}
    <div>
        Welcome  -  <small>{{request.user.username}}</small>
    </div>
    {% endif %}
    <hr>
    
    <h3>Songs</h3>
    <div>
        {% for music in music_list %}
        <div>
            {{music.title}} <br>
            <audio controls > <source src=" {% if music.file %} {{ music.file.url }} {% endif %}" type="audio/wav">
    
        </div>
        <hr>
        {% endfor %}
    </div>